<div class="view-outer">


    <div class="layout-controllers">
        <span>Size</span> {{input value=current.size}}
        <span>Modul Adı</span> {{input value=current.name}}
        <span>Satır Olarak Ekle</span> {{input type="checkbox" name="isRow" checked=current.isRow}} {{#if current.isRow}}
        <span>Geniş İçerik Olarak Ekle(Fluid)</span> {{input type="checkbox" name="isFluid" checked=current.isFluid}} {{/if}}<br>
        {{#radio-button
    value='after'
    groupValue=layoutPlacement
    }}
    Seçili Alan Ardına Ekle
{{/radio-button}}
{{#radio-button
    value='before'
    groupValue=layoutPlacement
    }}
    Seçili Alan Öncesine Ekle
{{/radio-button}}
{{#radio-button
    value='absolute'
    groupValue=layoutPlacement
    }}
    Seçili Alana Ekle
{{/radio-button}}
<br/>
<span>Gelişmiş</span> {{input type="checkbox" name="isAdvanced" checked=current.isAdvanced}}<br/>
{{#if current.isAdvanced}}

  <button {{action 'addNewCssProp'}} >Yeni Css Özellik Ekle</button><br/>
  {{#each current.customCssProperties as |prop|}}
{{input value=prop.key}} =
{{input value=prop.value}} <br/>
  {{/each}}
{{#if clearEnabled}}
 <button {{action 'clearCssProp'}} >Temizle</button><br/>
{{/if}}
{{/if}}


<br/>
         <button {{action 'addToView'}}> Ekle</button>
        {{#power-select
  options=availableModules
  renderInPlace=true
  selected=selectedModule
  onchange=(action (mut selectedModule))
  as |selectedModule|
}}
  {{selectedModule.moduleName}}
{{/power-select}}
 <button {{action 'addModuleToLayout'}}>Seçili Alana Modulu Ekle</button>
    </div>


    <div class="main-view added-component row">

    </div>

    <textarea rows="20" cols="100" class="code" value={{schema.htmlContent}} >

</textarea>

</div>