<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <div class="layout-controllers">

        <form class="">
          <legend>Taslak Sihirbazı</legend>


          <div class="form-inline">
            <div class="form-group">
              <label for="">Satır Olarak Ekle</label> {{input type="checkbox" name="isRow" class="form-control" checked=current.isRow}}
            </div>
            {{#if current.isRow}}
            <div class="form-group">
              <label for="">Geniş İçerik Olarak Ekle(Fluid)</label> {{input type="checkbox" name="isFluid" class="form-control"
              checked=current.isFluid}}
            </div>
            {{/if}}
          </div>
          {{#if sizeSelectionEnabled}}
          <div class="form-group">
            <label for="">Size</label> {{#power-select class="form-control" options=availableSizes renderInPlace=true selected=current.size
            onchange=(action (mut current.size)) as |size| }} {{size}} {{/power-select}}
          </div>
          {{/if}}
          <div class="form-group">
            <div>
              {{#radio-button class="form-control" value='after' groupValue=layoutPlacement }} Seçili Alan Ardına Ekle {{/radio-button}}

            </div>
            <div>
              {{#radio-button class="form-control" value='before' groupValue=layoutPlacement }} Seçili Alan Öncesine Ekle {{/radio-button}}

            </div>
            <div>
              {{#radio-button class="form-control" value='absolute' groupValue=layoutPlacement }} Seçili Alana Ekle {{/radio-button}}

            </div>
          </div>
          <div class="form-group">
            <label for="">Gelişmiş</label> {{input type="checkbox" name="isAdvanced" checked=current.isAdvanced}} {{#if clearEnabled}}
            <button {{action 'clearCssProp'}} class="btn btn-info btn-sm form-control">Temizle</button> {{/if}}
          </div>

          <div class="form-group form-inline">
           
            {{#if current.isAdvanced}}
             <legend>Style Özellikleri</legend>
             {{#each current.customCssProperties as |prop|}}
              {{input class="form-control input-sm" value=prop.key}}={{input class="form-control input-sm" value=prop.value}} {{/each}}
            <button {{action 'addNewCssProp'}} class="btn btn-info btn-sm form-control">Yeni Css Özellik Ekle</button> 
            <legend>Class Tanımlama</legend>
            
            {{input placeholder="clearfix col-lg-12" class="form-control input-sm" value=current.customClass}}
           
            {{/if}}

          </div>


          <div class="form-group">
            <button {{action 'addToView'}} class="btn btn-primary">Taslağa Ekle</button>

          </div>

          <legend>Modul</legend>

          <div class="form-group">
            {{#power-select class="form-control" options=availableModules noMatchesMessage="Tüm moduller kullanımda yada sistemde tanımlı modul mevcut değil." renderInPlace=true selected=selectedModule onchange=(action
            (mut selectedModule)) as |selectedModule| }} {{selectedModule.moduleName}} {{/power-select}}

          </div>
          <div class="form-group">
            <button {{action 'addModuleToLayout'}} class="btn btn-primary">Seçili Alana Modulu Ekle</button>
          </div>
        </form>
      </div>

    </div>

    <div class="col-sm-9">
      <div class="row">
        <legend>Taslak</legend>
        <div class="main-view added-component row">

        </div>
        <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#codedetails">Detay</button>

      </div>
      <div class="row">
        <div id="codedetails" class="collapse">
          <textarea rows="20" cols="100" class="code" value={{schema.htmlContent}}>

        </textarea>
        </div>
      </div>
    </div>
  </div>
</div>